<div class="news-event-view">
    <h2>{{title}}</h2>
    <div class="date">{{date}}</div>
    <div class="value">{{value}}</div>
    <input class="accept action" type="button" value="Ознакомлен" {{#if onReaded }} onClick={{onReaded}} {{/if}} {{#if isRead}}disabled{{/if}}/>
</div>
