<div class="lock-screen">
    <div class="event-details">
        <div id="hide" class="hide-button" {{#if onClick }} onClick={{onCloseClick}} {{/if}}>✕</div>
        <div class="content"></div>
    </div>
</div>
