<div class="controls">
    <span class="title">Таймлайн событий</span>
    <div class="inputs">
        <input id="sort-by-date" class="sort-by-date" name="sort" type="checkbox" />
        <label for="sort-by-date" class="direction">Отсортировать по дате </label>

        <input id="sort-by-type" class="sort-by-type" name="sort" type="checkbox" />
        <label for="sort-by-type">Отсортировать по типу</label>
    </div>
</div>
